{% extends 'base.html' %}
{% load static %}
{% block content%}
<div style="margin-top: 200px;">
{% for audio in audios %}

	<div class="lparent">
		<div class="lchild">
				<img src="{{MEDIA_ROOT}}/media/{{audio.spec}}">
		</div>
		<div class="lchild">
			<audio controls>
				<source src="{{MEDIA_ROOT}}/media/{{audio.audio}}">
			</audio>
		</div>
		<div class="lchild" style="font-size: 10px; color: blueviolet ;">
			<p>{{ audio.prediction }}</p>
		</div>
		<div class="lchild" style="font-size: 5px;">
			<p>{{ audio.utime }}</p>
		</div>
	</div>

{% endfor %}
</div>
{%endblock%}