{% extends 'base.html' %}
{% load static %}
{% block content %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<section>

 
<div class="container">
  <div class='loader-ring' id="loader">
    <div class='loader-ring-light'></div>
    <div class='loader-ring-track'></div>
  </div>
    </div>
  <!-- Modal -->
  <div class="modal fade  audio-popup" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-8 mt-5 ml-5 mr-2 p-3">
			        <audio id="player" controls class="animate__animated animate__fadeInUp">
			        	<source src={{MEDIA_URL}}/media/{{audio.audio}}>
              </audio></div>
              <div class="col-lg-8 mt-5 ml-5 mr-2 p-3"> <p class="text-center animate__animated animate__fadeInUp">{{audio.prediction}}</p></div>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <a href="{% url 'upload_audio' %}"><button  type="button" class="btn  btn-lg" style="background-color:#5777ba ; color: cornsilk; border-radius: 50px;">Close</button></a>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

</section>
<!--<script>
	 $(document).ready(function() { $('.audio-popup').modal({ show: true, }) }); 
</script>-->
<script> 
    setTimeout(function () {document.querySelector("#loader").style.display = "none"; }, 2000);
    setTimeout(	function() { $('.audio-popup').modal({ show: true, }) }
,2000);
</script> 



{% endblock %}
